/* stylelint-disable font-family-name-quotes */
@import url('https://fonts.google.com/specimen/Outfit');

body {
  margin: 0;
  padding: 0;
  background-color: hsl(212deg 45% 89%);
}

.container {
  display: grid;
  justify-items: center;
  height: 100vh;
}

.card {
  display: flex;
  background-color: white;
  box-shadow: 0 20px 15px hsl(213deg 30% 85%);
  font-family: "Outfit", sans-serif;
  flex-direction: column;
  border-radius: 5%;
  margin: 5px;
  padding: 15px;
  width: 290px;
  height: 465px;
  text-align: center;
  align-items: center;
  position: relative;
  top: 18.5vh;
}

.card > img {
  width: 290px;
  border-radius: 5%;
  position: relative;
}

.card #title {
  width: 275px;
  font-weight: 700;
  font-size: 116.5%;
  position: relative;
  top: 15px;
  line-height: 27px;
}

.card #title > span {
  word-spacing: -2px;
}

.card #description {
  width: 260px;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  position: relative;
  line-height: 20px;
  top: 10px;
}

.attribution { 
  font-size: 11px; text-align: center;
}

.attribution a { 
  color: hsl(228deg 45% 44%)
}

footer {
  font-size: 15
}