/* stylelint-disable font-family-name-quotes */
@import url('https://fonts.google.com/specimen/Outfit');

body {
  margin: 0;
  padding: 0;
  background-color: hsl(212deg 45% 89%);
}

.container {
  display: grid;
  justify-items: center;
  height: 100vh;
}

.card {
  display: flex;
  background-color: white;
  box-shadow: 15 15 50px rgb(0 0 0 / 20%);
  font-family: "Outfit", sans-serif;
  flex-direction: column;
  border-radius: 5%;
  margin: 5px;
  padding: 15px;
  width: 300px;
  height: 450px;
  text-align: center;
  align-items: center;
  position: relative;
  top: 20vh;
}

.card > img {
  width: 300px;
  border-radius: 5%;
  position: relative;
}

.card #title {
  width: 260px;
  font-weight: 700;
  font-size: 120%;
  position: relative;
}

.card #description {
  width: 250px;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.5;
  position: relative;
  bottom: 15px;
}

.attribution { 
  font-size: 11px; text-align: center;
}

.attribution a { 
  color: hsl(228deg 45% 44%)
}

footer {
  font-size: 15
}